<!DOCTYPE html>
<html>
<head>
	<title>Add New User</title>
</head>
<body>
	<h1>Add A New user</h1>
	<form method="post">
		<table>
			<tr>
				<td>USERNAME</td>
				<td><input type="text" name="username"></td>
			</tr>
			<tr>
				<td>PASSWORD</td>
				<td><input type="text" name="password"></td>
			</tr>			
			<tr>
				<td>Email</td>
				<td><input type="email" name="email"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="add_user" value="Create User"></td>
			</tr>
		</table>
	</form>
</body>
</html>